{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Welcome to Therapist Booking</h1>

{% if app.user %}
    <p>Hello {{ app.user.email }}!</p>
{% else %}
    <p>Please <a href="{{ path('app_login') }}">log in</a> or <a href="{{ path('app_register') }}">register</a>.</p>
{% endif %}
{% endblock %}
