<form method="post" action="{{ path('admin_appointment_delete', {'id': appointment.id}) }}" onsubmit="return confirm('Are you sure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
