{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
<h1>Edit Appointment</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Save</button>
{{ form_end(form) }}

<a href="{{ path('admin_appointment_index') }}" class="btn btn-secondary mt-2">Back to list</a>
{% endblock %}
