{% extends 'base.html.twig' %}

{% block title %}New Appointment{% endblock %}

{% block body %}
    <h1>Create new Appointment</h1>

    {# Display flash messages for errors or success #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ include('appointment/_form.html.twig') }}

    <a href="{{ path('app_appointment_index') }}">back to list</a>
{% endblock %}
