{% extends 'base.html.twig' %}

{% block title %}New Therapist{% endblock %}

{% block body %}
    <h1>Create new Therapist</h1>

    {{ include('admin/therapist/_form.html.twig') }}

    <a href="{{ path('admin_therapist_index') }}">back to list</a>
{% endblock %}
