{% extends 'base.html.twig' %}

{% block title %}Edit Therapist{% endblock %}

{% block body %}
    <h1>Edit Therapist</h1>

    {{ include('therapist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_therapist_index') }}">back to list</a>

    {{ include('therapist/_delete_form.html.twig') }}
{% endblock %}
